<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Chez Uleed, nous créons des solutions numériques innovantes! Que se soit au travers de la réalité augmentée ou d’un jeu interactif, nous rendons vos idées vivantes !">
    <meta name="keywords" content="portfolio, agency, business, clean, company, corporate, creative, gallery, rtl, modern, photography, vue, vuejs, responsive, sass">

    <!-- title of the browser tab -->
    <title>Uleed</title>

    <!-- favicon -->
    <link rel="icon" href="assets/favicon.ico">

    <!-- fonts
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mohave:wght@300&display=swap">
    -->

    <!-- css libraries file -->
    <link rel="stylesheet" href="styles/libraries.min.css">

    <!-- main style file -->
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <div id="app">
      <div id="app-inner" ref="appRef"
        :class="[savedTheme, {'enable-focus-style': isAnyFocus}]"
        @click="isAnyFocus = false"
        @keyup.tab="isAnyFocus = true">

        <div class="circle-cursor circle-cursor-outer" ref="circleCursorOuter"></div>
        <div class="circle-cursor circle-cursor-inner" ref="circleCursorInner"></div>

        <!-- start preloader-->
        <transition name="preloader">
          <div class="preloader" v-if="isPreloading">
            <div class="circle">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
            </div>
          </div>
        </transition>
        <!-- end preloader-->

        <!-- start of header -->
        <header :class="{
          'big-header': isHeaderBig,
          'small-header': !isHeaderBig,
          'header-hidden': isHeaderHidden
        }">
          <div class="container">
            <!-- logo -->
            <div class="logo" title="Uleed">
              <h1><a href="index.html">Uleed</a></h1>
            </div>

            <!-- nav links -->
            <nav :class="{'menu-open': isNavMenuOpen}" ref="headerNav">

              <!-- nav menu links -->
              <ul class="nav-links">
                <li v-for="link in navLinks" :key="link.url">
                  <a :href="link.url" @click="closeNavMenu">
                    {{ link.title.fr }}
                  </a>
                </li>
              </ul>

              <!-- menu content in big devices (hidden in mobile/tablet) -->
              <div class="desktop-menu-content" tabindex="-1">
                <div class="container">

                  <!-- about us -->
                  <div class="about-us">
                    <p>
                      Nous aimons créer toute sortes de projets innovants.
                    </p>
                    <h4 class="block-title">
                      Nous sommes spécialisés dans la création de projets uniques adaptés à nos clients.
                    </h4>
                  </div>

                  <!-- contact info -->
                  <ul class="contact-info row">
                    <li class="col-lg-4">
                      <h4 class="block-title">Email</h4>
                      <ul>
                        <li><a href="mailto:info@Uleed.com">info@Uleed.com</a></li>
                        <li><a href="mailto:support@Uleed.com">support@Uleed.com</a></li>
                      </ul>
                    </li>
                    <li class="col-lg-4">
                      <h4 class="block-title">Address</h4>
                      <ul>
                        <li>
                          941 saqrqorish Road, alandalos,
                          <br>
                          grnata, wa 47122-4194
                        </li>
                      </ul>
                    </li>
                    <li class="col-lg-4">
                      <h4 class="block-title">Phone</h4>
                      <ul>
                        <li><a href="tel:02966202290">+33 (0) 7 50 91 47 56</a></li>
                        <li><a href="tel:02966202291">+33 (0) 7 50 91 47 56</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>

            <!-- options icons -->
            <ul class="options-icons">

              <!-- lang switcher button -->
              <li class="lang-switcher">
                <a href="en-index.html" title="">
                  <img src="assets/images/langs/en.png" alt="">
                </a>
              </li>

              <!-- theme switcher button -->
              <li class="theme-switcher">
                <button :class="savedTheme" title="Change Mode" @click="changeAppTheme"></button>
              </li>

              <!-- hamburger button -->
              <li class="hamburger-btn" :class="{'open': isNavMenuOpen}">
                <button @click="toggleNavMenu"
                  title="Toggle Side Menu"
                  aria-label="Toggle Side Menu"
                  ref="navMenuToggleBtn">
                  <span></span>
                  <span></span>
                  <span></span>
                </button>
              </li>
            </ul>
          </div>
        </header>
        <!-- end of header -->

        <!-- start of hero section -->
        <div id="hero" class="hero-section" ref="heroSection" data-paneffect="true">
          <div class="hero-img">
            <div class="layer" v-clone>
              <img src="assets/images/gamevrest-logo.png" alt="gamevrest">
            </div>
          </div>

          <div class="hero-text">
            <h2>
                Votre projet
                <br>
                innovant sur mesure
            </h2>
            <a href="#contact" class="btn">Contactez nous</a>
          </div>

          <div class="social">
            <ul>
              <li>
                <a href="#" target="_blank" rel="noreferrer" v-tooltip="{text: 'Facebook', dir: 'right'}">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#" target="_blank" rel="noreferrer" v-tooltip="{text: 'Twitter', dir: 'right'}">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#" target="_blank" rel="noreferrer" v-tooltip="{text: 'LinkedIn', dir: 'right'}">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>

          <div class="scroll-down">
            <a href="#about" title="Scroll Down">Scroll</a>
          </div>
        </div>
        <!-- end of hero section -->

        <!-- start of statistics section
        <div id="statistics" class="statistics-section section">
          <div class="section-content">
            <div class="container">
              <ul class="statistics-items row">
                <li class="col-sm-12 col-md-6 col-lg-4">
                  <a href="#experience">
                    <div class="icon">
                      <img src="assets/images/icons/emblem.png" alt="Years of Experience">
                    </div>
                    <div class="text">
                      <h3>{{ experienceYears }}+</h3>
                      <strong>Years of Experience</strong>
                    </div>
                  </a>
                </li>
                <li class="col-sm-12 col-md-6 col-lg-4">
                  <a href="#portfolio">
                    <div class="icon">
                      <img src="assets/images/icons/check-mark.png" alt="Completed Projects">
                    </div>
                    <div class="text">
                      <h3>4+</h3>
                      <strong>Completed Projects</strong>
                    </div>
                  </a>
                </li>
                <li class="col-sm-12 col-md-6 col-lg-4">
                  <a href="#testimonials">
                    <div class="icon">
                      <img src="assets/images/icons/happy.png" alt="Happy Clients">
                    </div>
                    <div class="text">
                      <h3>1+</h3>
                      <strong>Happy Clients</strong>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
         end of statistics section -->

        <!-- start of about section -->
        <div id="about" class="about-section section" tabindex="-1">
          <div class="container">
            <div class="section-content row">

              <!-- about image -->
              <div class="about-img col-lg-6">
                <div class="layer">
                  <img src="assets/images/AR.png" alt="User Name">
                </div>
              </div>

              <!-- text box -->
              <div class="about-text col-lg-6">
                <div class="text-box-inline">
                  <span class="subtitle"></span>
                  <h2>
                      Ajoutez de l'interactivité à votre projet
                  </h2>
                  <p>
                      Avez vous déjà été bluffé par une expérience de réalité augmentée ?
                      Captivé par un jeu novateur ? C’est cette sensation que nous ferons ressentir à vos clients.
                  </p>
                  <div class="btns-container">
                    <a href="#contact" class="btn btn-primary">Contactez nous</a>
                    <!-- <a download href="#" class="btn btn-outline-light">Download CV</a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of about section -->

        <!-- start of skills section -->
        <div id="skills" class="skills-section section" tabindex="-1">
          <div class="container">
            <div class="section-content row">

              <!-- text box -->
              <div class="skills-text col-lg-6">
                <div class="text-box-inline">
                  <span class="subtitle">Technologies</span>
                  <h2>
                      Projet
                    <br>
                      sur mesure
                  </h2>
                  <p>
                      Notre promesse est simple, vous permettre de transformer votre projet en une expérience interactive et captivante. Nous vous accompagnerons pour trouver la solution technique qui correspondra le mieux à vos besoins.
                  </p>
                  <div ref="skillsSwitchBtn" class="toggle-switch-btn">
                    <input id="skills-list" type="radio" value="skills" v-model="skillsType" checked>
                    <label for="skills-list" class="link-hover">Skills</label>
                    <!--<input id="tools-list" type="radio" value="tools" v-model="skillsType">
                    <label for="tools-list" class="link-hover">Tools</label>
                    <span class="switcher-toggle" style="width: calc((100% - 8px) / 2);"></span> -->
                  </div>
                </div>
              </div>

              <!-- skills items -->
              <div class="skills-items col-lg-6">

                <!-- skills list -->
                <ul v-staggerdelay="50" v-show="skillsType === 'skills'">
                  <li tabindex="0"
                    v-for="skill in skillsItems"
                    :key="skill.title"
                    v-tooltip="{text: skill.title, dir: 'top'}">
                    <div class="skill-icon">
                      <img :src="skill.imgUrl" :alt="skill.title">
                    </div>
                  </li>
                </ul>

                <!-- tools list -->
                <ul v-staggerdelay="50" v-show="skillsType === 'tools'">
                  <li tabindex="0"
                    v-for="tool in toolsItems"
                    :key="tool.title"
                    v-tooltip="{text: tool.title, dir: 'top'}">
                    <div class="skill-icon">
                      <img :src="tool.imgUrl" :alt="tool.title">
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- end of skills section -->

          <!--
         start of experience section
        <div id="experience" class="experience-section section" tabindex="-1">
          <div class="container">
            <div class="section-content row">

              <div class="experience-timeline col-lg-6">
                <ul class="outer-ul">
                  <li class="outer-li" v-for="(group, index) in experienceChunks" :key="index">
                    <ul class="inner-ul">
                      <li class="has-ultimate-tooltip"
                        tabindex="0"
                        v-for="item in group">
                        <template v-if="Object.keys(item).length > 0">
                          <h3>{{ item.date }}</h3>
                          <div class="ultimate-tooltip">
                            <h4 class="ultimate-tooltip-title">{{ item.companyName.fr }}</h4>
                            <h5 class="ultimate-tooltip-subtitle">{{ item.jobTitle.fr }}</h5>
                            <p>{{ item.desc.fr }}</p>
                          </div>
                          <div class="ultimate-tooltip-arrow"></div>
                        </template>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

              <div class="experience-text col-lg-6">
                <div class="text-box-inline">
                  <span class="subtitle">experience</span>
                  <h2>
                    {{ experienceYears }}+ Years of Experience
                    <br>
                    With Many Awards!
                  </h2>
                  <p>
                    I have been developing sites and apps for {{ experienceYears }} years and i know for sure the main trends and directions of modern design, I have been a visionary and a reliable software engineering partner for world-class brands. You will get a decent result as you expect.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
         end of experience section -->

        <!-- start of portfolio section -->
        <div id="portfolio" class="portfolio-section section" tabindex="-1">
          <div class="container">
            <div class="section-content">

              <!-- portfolio items -->
              <ul class="portfolio-items" ref="portfolioItems" data-no-works-msg="No works to load">
                <li>
                  <!-- text box -->
                  <div class="text-box-inline">
                    <span class="subtitle">nos réalisations</span>
                    <h2>
                      Découvrir
                      <br>
                      nos réalisations
                    </h2>
                    <p>
                        Pour vous aider à vous projeter, voici quelques exemples de nos réalisations passées.
                    </p>
                    <ul class="works-filter">
                      <li v-for="filter in filters" :key="filter">
                        <button :class="{'active': currentFilter === filter}"
                          @click="filterPortfolioItems(filter)">
                          {{ filter }}
                        </button>
                      </li>
                    </ul>
                  </div>
                </li>

                <!-- start items list -->
                <li class="portfolio-item"
                  v-for="work in filteredPortfolioItems"
                  :key="work.title.fr">
                  <a :href="work.url" target="_blank" rel="noopener">
                    <div class="item-img">
                      <img :src="work.imgUrl" :alt="work.title.fr">
                    </div>
                    <div class="item-details">
                      <h3 class="title">{{ work.title.fr }}</h3>
                      <div class="date">{{ work.date.fr }}</div>
                    </div>
                  </a>
                </li>
                <!-- end items list -->

                <!-- <li>
                  <button class="more" @click="getPortfolioItems">Load more works</button>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
        <!-- end of portfolio section -->

        <!-- start of testimonials section -->
        <div id="testimonials" class="testimonials-section section" tabindex="-1">
          <div class="container">
            <div class="section-title">
              <span class="subtitle">Equipe</span>
              <h2>
                  Présentation
                <br>
                  de l’équipe
              </h2>
            </div>
          </div>

          <div class="section-content">
            <ul class="testimonials-items" v-staggerdelay="500">
              <li class="has-ultimate-tooltip"
                tabindex="0"
                v-for="item in testimonialsItems"
                :key="item.quoteAuthor.fr">
                <div class="testimonials-item">
                  <div class="testimonial-author-img">
                    <img :src="item.imgUrl || 'assets/images/testimonials/anonymous-user.png'" :alt="item.quoteAuthor.fr">
                  </div>
                  <div class="ultimate-tooltip">
                    <p>{{ item.quoteContent.fr }}</p>
                    <h4 class="ultimate-tooltip-title">{{ item.quoteAuthor.fr }}</h4>
                    <h5 class="ultimate-tooltip-subtitle">{{ item.jobTitle.fr }}</h5>
                  </div>
                  <div class="ultimate-tooltip-arrow"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- end of testimonials section -->

        <!-- start of contact section -->
        <div id="contact" class="contact-section section" tabindex="-1">
          <div class="container">
            <div class="section-content row">

              <!-- text box -->
              <div class="contact-text col-lg-6">
                <div class="text-box-inline">
                  <span class="subtitle">contact</span>
                  <h2>
                    Vous avez un projet ?
                    <br>
                    N'hésitez pas à laisser un message
                  </h2>
                  <p>
                      Contactez nous pour la moindre information. Nous répondrons aussi rapidement que possible.
                  </p>
                </div>

                <!-- contact info -->
                <ul class="contact-info">
                  <li>
                    <img src="assets/images/icons/address.png" alt="Address">
                    <div>
                      <strong>Adresse:</strong>
                      Paris, Nancy, Epinal
                    </div>
                  </li>
                  <li>
                    <img src="assets/images/icons/phone.png" alt="Phone">
                    <div>
                      <strong>Téléphone:</strong>
                      <ul>
                        <li><a href="tel:02966202290" class="ltr-dir">+33 (0) 7 50 91 47 56</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <img src="assets/images/icons/email.png" alt="Email">
                    <div>
                      <strong>Email:</strong>
                      <ul>
                        <li><a href="mailto:info@Uleed.com">info@Uleed.com</a></li>
                        <li><a href="mailto:support@Uleed.com">support@Uleed.com</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>

                <!-- social links -->
                <ul class="social">
                  <li>
                    <a href="#" target="_blank" rel="noreferrer" v-tooltip="{text: 'Facebook', dir: 'top'}">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" target="_blank" rel="noreferrer" v-tooltip="{text: 'Twitter', dir: 'top'}">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" target="_blank" rel="noreferrer" v-tooltip="{text: 'LinkedIn', dir: 'top'}">
                      <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" target="_blank" rel="noreferrer" v-tooltip="{text: 'YouTube', dir: 'top'}">
                      <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>

              <!-- contact form -->
              <div class="col-lg-6">
                <form ref="contactForm"
                  class="contact-form form-styled"
                  action="contact_form.php"
                  data-success-msg="Message envoyé avec succès !"
                  data-err-msg="Oups! Quelque chose s'est mal passé. Veuillez essayer à nouveau">
                  <div class="group">
                    <label>Nom</label>
                    <div class="control has-prefix-icon">
                      <input type="text"
                        name="name"
                        placeholder="e. Thomas Dupont"
                        minlength="3"
                        required>
                      <i class="fa fa-user-circle prefix-icon" aria-hidden="true"></i>

                      <!-- validation errors messages -->
                      <div class="errors-msgs">
                        <input class="required" type="hidden" value="Le nom n'est pas requis">
                        <input class="minLength" type="hidden" value="Votre nom doit faire au moins 3 caractères">
                      </div>
                    </div>
                  </div>
                  <div class="group">
                    <label>Email</label>
                    <div class="control has-prefix-icon">
                      <input class="ltr-dir"
                        type="email"
                        inputmode="email"
                        name="email"
                        placeholder="e. thomas.dupont@gmail.com"
                        required>
                      <i class="fa fa-envelope prefix-icon" aria-hidden="true"></i>

                      <!-- validation errors messages -->
                      <div class="errors-msgs">
                        <input class="required" type="hidden" value="Email is required">
                        <input class="invalid" type="hidden" value="Please enter a valid email address">
                      </div>
                    </div>
                  </div>
                  <div class="group phone-number">
                    <label>Téléphone <span class="optional">(Optional)</span></label>
                    <div class="control has-prefix-icon">
                      <input type="tel"
                        inputmode="tel"
                        name="phone"
                        placeholder="Numéro de téléphone">
                      <i class="fa fa-phone prefix-icon" aria-hidden="true"></i>

                      <!-- validation errors messages -->
                      <div class="errors-msgs">
                        <input class="invalid" type="hidden" value="Entrez un numéro valide">
                      </div>
                    </div>
                  </div>
                  <div class="group">
                    <label>Message</label>
                    <div class="control has-prefix-icon">
                      <textarea name="message" placeholder="Décrivez-nous votre besoin" required></textarea>
                      <i class="fa fa-comments prefix-icon" aria-hidden="true"></i>

                      <!-- validation errors messages -->
                      <div class="errors-msgs">
                        <input class="required" type="hidden" value="Message is required">
                      </div>
                    </div>
                  </div>
                  <div class="group">
                    <div class="control">
                      <button class="submit-btn btn btn-dark" type="button" @click="contactFormValidation">Envoyer</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- end of contact section -->

        <!-- start of footer -->
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <!-- logo -->
                <div class="logo" title="Uleed">
                  <h1><a href="index.html">Uleed</a></h1>
                </div>
              </div>
              <div class="col-lg-6">
                &copy; {{ copyrightDate }}
              </div>
            </div>
          </div>
        </footer>
        <!-- end of footer -->

        <!-- scroll to top button -->
        <button ref="scrollTopBtn"
          :class="['scroll-to-top', isScrollTopBtnDisplayed && 'show-scrollTop']"
          title="Back To Top"
          tabindex="0"
          @click="scrollToTop">
          <i class="fa fa-angle-up" aria-hidden="true"></i>
        </button>

        <!-- toast notifications -->
        <ul class="notifications-container">
          <transition-group name="notify">
            <li v-for="notify of notifications"
              :key="notify.id"
              :id="notify.id"
              :class="['notification', 'show', notify.className, notify.time && 'timer']"
            >
              {{ notify.msg }}
              <i class="fa fa-times link-hover" aria-hidden="true" @click="dismissNotify(notify.id)"></i>
              <span v-if="notify.time"
                class="disappearing-time"
                :style="{ 'animation-duration': notify.time + 'ms' }"></span>
            </li>
          </transition-group>
        </ul>

        <!-- ajax loading -->
        <div v-show="isAjaxLoading" class="ajax-loading">
          <span></span>
        </div>
      </div>
    </div>

    <!-- js plugins file -->
    <script src="scripts/plugins.min.js"></script>

    <!-- main script file -->
    <script src="scripts/main.js"></script>
  </body>
</html>
